#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

&lt {
    tapping-term-ms = <200>;
    flavor = "balanced";
    quick-tap-ms = <150>;
};

/ {
    combos {
        compatible = "zmk,combos";

        LANGchange_combo {
            bindings = <&kp LANG1>;
            key-positions = <17 18>;
            timeout-ms = <40>;
            require-prior-idle-ms = <120>;
            layers = <0>;
            slow-release;
        };

        ESC_combo {
            bindings = <&kp ESC>;
            key-positions = <0 1>;
            timeout-ms = <40>;
            require-prior-idle-ms = <120>;
            slow-release;
        };

        TAB_combo {
            bindings = <&kp TAB>;
            key-positions = <10 11>;
            timeout-ms = <40>;
            require-prior-idle-ms = <120>;
            slow-release;
        };

        ENTER_combo {
            bindings = <&kp ENTER>;
            key-positions = <16 17>;
            timeout-ms = <50>;
            require-prior-idle-ms = <50>;
            slow-release;
        };

        COPY_combo {
            bindings = <&kp LC(C)>;
            key-positions = <12 13>;
            timeout-ms = <50>;
            require-prior-idle-ms = <120>;
            slow-release;
        };

        PASTE_combo {
            bindings = <&kp LC(V)>;
            key-positions = <12 23>;
            timeout-ms = <50>;
            require-prior-idle-ms = <120>;
            slow-release;
        };

        momentary_layer_bluetooth {
            bindings = <&mo 5>;
            key-positions = <20 21 22 23>;
            layers = <0>;
        };

        Capture_combo {
            bindings = <&kp LS(LG(S))>;
            key-positions = <3 2 1>;
            slow-release;
            timeout-ms = <50>;
            require-prior-idle-ms = <120>;
        };
    };

    macros {
        PW1: PW1 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp NUMBER_2 &kp NUMBER_0 &kp NUMBER_2 &kp NUMBER_2 &kp NUMBER_0 &kp NUMBER_9 &kp NUMBER_0 &kp NUMBER_1 &kp Q &kp EXCLAMATION &kp AT_SIGN &kp HASH>;
            label = "PW1";
        };

        PW2: PW2 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp NUMBER_0 &kp T &kp NUMBER_0 &kp L &kp E &kp R &kp AT_SIGN &kp N &kp C &kp E>;
            label = "PW2";
        };

        PW3: PW3 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp AT_SIGN &kp E &kp L &kp V &kp H &kp X &kp K &kp D &kp L &kp A>;
            label = "PW3";
        };

        domain: domain {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp O &kp F &kp F &kp I &kp C &kp E &kp D &kp E &kp P &kp O &kp T &kp DOT &kp C &kp O &kp DOT &kp K &kp R>;
            label = "DOMAIN";
        };
    };

    behaviors {
        hr: homerow {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <130>;
        };

        ht: holdtap {
            compatible = "zmk,behavior-hold-tap";
            label = "HOLDTAP";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <130>;
        };

        td1: tapdance1 {
            compatible = "zmk,behavior-tap-dance";
            label = "TAPDANCE1";
            #binding-cells = <0>;
            bindings = <&PW1>, <&PW2>, <&PW3>;

            tapping-term-ms = <300>;
        };

        td2: tapdance2 {
            compatible = "zmk,behavior-tap-dance";
            label = "TAPDANCE2";
            #binding-cells = <0>;
            bindings = <&domain>;
            tapping-term-ms = <300>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        Base {
            bindings = <
&ht LS(Q) Q     &ht LS(W) W       &ht LS(E) E       &ht LS(R) R  &ht LS(T) T       &kp Y          &kp U              &kp I              &ht LS(O) O  &ht LS(P) P
&hr LEFT_ALT A  &hr LEFT_SHIFT S  &hr LEFT_SHIFT D  &kp F        &hr LEFT_GUI G    &kp H          &kp J              &kp K              &kp L        &kp SEMICOLON
&kp Z           &kp X             &kp C             &kp V        &kp B             &kp N          &ht EXCLAMATION M  &ht AT_SIGN COMMA  &kp DOT      &kp SLASH
                                  &mo 2             &mo 1        &kp SPACE         &kp BACKSPACE  &kp RIGHT_SHIFT    &none
            >;
        };

        Num {
            bindings = <
&kp TILDE              &none           &kp UP_ARROW    &none            &none        &ht LS(MINUS) MINUS          &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9      &ht LS(SINGLE_QUOTE) SINGLE_QUOTE
&ht F5 F2              &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT_ARROW  &td2         &ht LS(BACKSLASH) BACKSLASH  &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6      &ht LS(LEFT_BRACKET) LEFT_BRACKET
&ht LS(DELETE) DELETE  &none           &none           &none            &td1         &ht LS(EQUAL) EQUAL          &kp NUMBER_1  &kp NUMBER_2  &ht DOT NUMBER_3  &ht LS(RIGHT_BRACKET) RIGHT_BRACKET
                                       &none           &none            &kp SPACE    &kp BACKSPACE                &kp NUMBER_0  &none
            >;
        };

        ETC {
            bindings = <
&none     &none               &kp LS(UP_ARROW)    &none                &none        &none          &kp LS(NUMBER_7)  &kp LS(NUMBER_8)  &kp LS(NUMBER_9)  &none
&none     &kp LS(LEFT_ARROW)  &kp LS(DOWN_ARROW)  &kp LS(RIGHT_ARROW)  &none        &none          &kp LS(NUMBER_4)  &kp LS(N5)        &kp LS(NUMBER_6)  &none
&kp PLUS  &kp MINUS           &kp ASTERISK        &kp SLASH            &none        &none          &kp LS(NUMBER_1)  &kp LS(NUMBER_2)  &kp LS(NUMBER_3)  &none
                              &none               &none                &kp SPACE    &kp BACKSPACE  &kp LS(NUMBER_0)  &none
            >;
        };

        Funtion {
            bindings = <
&none  &none  &none  &none  &none    &none    &kp F7   &kp F8  &kp F9  &none
&none  &none  &none  &none  &none    &kp F12  &kp F4   &kp F5  &kp F6  &none
&none  &none  &none  &none  &none    &kp F11  &kp F1   &kp F2  &kp F3  &none
              &none  &none  &none    &none    &kp F10  &none
            >;
        };

        Mouse {
            bindings = <
&trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
                &trans  &trans  &trans    &trans  &trans  &trans
            >;
        };

        Bluetooth {
            bindings = <
&trans  &trans  &trans  &trans  &bt BT_CLR_ALL    &bt BT_CLR  &trans        &trans        &trans        &trans
&trans  &trans  &trans  &trans  &trans            &trans      &bt BT_SEL 3  &bt BT_SEL 4  &trans        &trans
&trans  &trans  &trans  &trans  &trans            &trans      &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &trans
                &trans  &trans  &trans            &trans      &trans        &trans
            >;
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";

        Function_layer {
            if-layers = <1 2>;
            then-layer = <3>;
        };
    };
};
